### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_URL='example'
POSTGRES_PRISMA_URL='example'
POSTGRES_URL_NON_POOLING='example'
POSTGRES_USER='example'
POSTGRES_HOST=''
POSTGRES_PASSWORD=''
POSTGRES_DATABASE=''

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=''
CLERK_SECRET_KEY=''
# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=''
POSTMARK_API_KEY=''
NEXT_PUBLIC_API_URL=''

## Only required for localhost
NEXTAUTH_URL=''

